.pkg-test {
  height: 100%;
  /*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
  /* change colours to suit your needs */
  /* change colours to suit your needs */
  /* change border colour to suit your needs */
}

.pkg-test * {
  outline: none;
  font-family: 'Ubuntu', sans-serif;
}

.pkg-test .ui.centered.padded.grid {
  color: rebeccapurple;
}

.pkg-test input {
  font-family: 'Ubuntu', sans-serif !important;
}

.pkg-test html,
.pkg-test body,
.pkg-test div,
.pkg-test span,
.pkg-test object,
.pkg-test iframe,
.pkg-test h1,
.pkg-test h2,
.pkg-test h3,
.pkg-test h4,
.pkg-test h5,
.pkg-test h6,
.pkg-test p,
.pkg-test blockquote,
.pkg-test pre,
.pkg-test abbr,
.pkg-test address,
.pkg-test cite,
.pkg-test code,
.pkg-test del,
.pkg-test dfn,
.pkg-test em,
.pkg-test img,
.pkg-test ins,
.pkg-test kbd,
.pkg-test q,
.pkg-test samp,
.pkg-test small,
.pkg-test strong,
.pkg-test sub,
.pkg-test sup,
.pkg-test var,
.pkg-test b,
.pkg-test i,
.pkg-test dl,
.pkg-test dt,
.pkg-test dd,
.pkg-test ol,
.pkg-test ul,
.pkg-test li,
.pkg-test fieldset,
.pkg-test form,
.pkg-test label,
.pkg-test legend,
.pkg-test table,
.pkg-test caption,
.pkg-test tbody,
.pkg-test tfoot,
.pkg-test thead,
.pkg-test tr,
.pkg-test th,
.pkg-test td,
.pkg-test article,
.pkg-test aside,
.pkg-test canvas,
.pkg-test details,
.pkg-test figcaption,
.pkg-test figure,
.pkg-test footer,
.pkg-test header,
.pkg-test menu,
.pkg-test nav,
.pkg-test section,
.pkg-test summary,
.pkg-test time,
.pkg-test mark,
.pkg-test audio,
.pkg-test video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.pkg-test body {
  line-height: 1;
}

.pkg-test article,
.pkg-test aside,
.pkg-test details,
.pkg-test figcaption,
.pkg-test figure,
.pkg-test footer,
.pkg-test header,
.pkg-test menu,
.pkg-test nav,
.pkg-test section,
.pkg-test main {
  display: block;
}

.pkg-test nav ul {
  list-style: none;
}

.pkg-test blockquote,
.pkg-test q {
  quotes: none;
}

.pkg-test blockquote:before,
.pkg-test blockquote:after,
.pkg-test q:before,
.pkg-test q:after {
  content: '';
  content: none;
}

.pkg-test a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.pkg-test ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

.pkg-test mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

.pkg-test del {
  text-decoration: line-through;
}

.pkg-test abbr[title],
.pkg-test dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

.pkg-test table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pkg-test hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

.pkg-test input,
.pkg-test select {
  vertical-align: middle;
}

.pkg-test h1,
.pkg-test h2,
.pkg-test h3,
.pkg-test h4,
.pkg-test h5,
.pkg-test h6 {
  font-weight: normal;
}